@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Work+Sans:wght@200;300;400;500;600;700&display=swap');

a{
  text-decoration: none;
  color: #707C87;
}
p,
h2{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  color: #707C87;
}
button{
  outline: none;
  border: 0;
  color: #fff;
}
.container{
  width: 100%;
  max-width: 1050px;
  padding: 0 15px;
  margin: 0 auto;
}
.container_mini{
  width: 100%;
  max-width: 900px;
  padding: 0 15px;
  margin: 0 auto;
}